<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All USERS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<table class="table table-success table-striped">
    <thead>
    <br><br>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        <th scope="col">Phone number</th>
        <th scope="col">Role</th>
        <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${AllUSE}">

        <td th:text="${user.username}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.age}"/>
        <td th:text="${user.phoneNumber}"/>
        <td th:text="${user.rolesToString()}"></td>
        <td><a th:href="@{/updateUser?id={id}(id=${user.getId()})}" th:text="UPDATE"></a></td>
        <td><a th:href="@{/deleteUser?id={id}(id=${user.getId()})}" th:text="DELETE"></a></td>

    </tr>
    </tbody>

</table>

<br>
<input type="button" value="Add user"
       onclick="window.location.href='addUser'"
/>

<br>
<br>
<input type="button" value="Logout"
       onclick="window.location.href='/logout'"
/>


</body>
</html>